@using CoderThoughtsBlog.Services.Interfaces;
@model CoderThoughtsBlog.Models.Blog
@inject IImageService imageService

@{
    ViewData["Title"] = "Edit Blog";
}

<h1>Edit Blog</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea id="summernote" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageData" class="control-label"></label>
                <input type="file" name="NewImage" class="form-control" accept=".jpg,.png,.gif,.jpeg" />
                <span asp-validation-for="ImageData" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Current Image</label>
                <img src="@imageService.DecodeImage(Model.ImageData!,Model.ContentType!)" class="square-img rounded-start" height="200" alt="...">
                <span asp-validation-for="ImageData" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script>
            $('#summernote').summernote({
            placeholder: 'Enter the blog description here.',
                tabsize: 2,
                height: 120,
                toolbar: [
                  ['style', ['style']],
                  ['font', ['bold', 'underline', 'clear']],
                  ['color', ['color']],
                  ['para', ['ul', 'ol', 'paragraph']],
                  ['table', ['table']],
                  ['insert', ['link', 'picture', 'video']],
                  ['view', ['fullscreen', 'codeview', 'help']]
                ]
              });
        </script>
}
