@using CoderThoughtsBlog.Services.Interfaces;
@model CoderThoughtsBlog.Models.Post
@inject IImageService imageService


@{
    ViewData["Title"] = "Details";
}

<!--Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @Html.Raw(Model.Content)
                <img src="@imageService.DecodeImage(Model.ImageData!,Model.ContentType!)" class="square-img rounded-start img-fluid" height="200" alt="...">
            </div>
        </div>
    </div>
</article>
<hr />

<article>
    <div class="row">
        <div class="col text-center font-weight-bold h3">
            Custom Post Tags
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            @foreach(var tag in Model.Tags)
            {
                <a class="btn btn-warning btn-sm btn-outline-dark" asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()">#@tag.Text</a>
            }
        </div>
    </div>
</article>

<hr />


<!--Display Comments related to this post-->
<!--Display the image of the author-->

<form asp-controller="Comments" asp-action="Create">
    





</form>



<div>
    <a asp-action="Edit" asp-route-slug="@Model.Slug">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
            <script>
                $('#summernote').summernote({
                    placeholder: 'Leave the author a comment!',
                    tabsize: 2,
                    height: 120,
                    toolbar: [
                      ['style', ['style']],
                      ['font', ['bold', 'underline', 'clear']],
                      ['color', ['color']],
                      ['para', ['ul', 'ol', 'paragraph']],
                      ['table', ['table']],
                      ['insert', ['link', 'picture', 'video']],
                      ['view', ['fullscreen', 'codeview', 'help']]
                    ]
                  });
            </script>
}