@using CoderThoughtsBlog.Enums
@using CoderThoughtsBlog.Services.Interfaces;
@model CoderThoughtsBlog.Models.Post
@inject IImageService imageService


@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group col-6">
                <label asp-for="BlogId" class="control-label"></label>
                <select asp-for="BlogId" class="form-control" asp-items="ViewBag.BlogId"></select>
                <span asp-validation-for="BlogId" class="text-danger"></span>
            </div>

            <div class="form-group col-6">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abstract" class="control-label"></label>
                <textarea asp-for="Abstract" class="form-control"></textarea>
                <span asp-validation-for="Abstract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea id="summernote" asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="col-6 form-group">
                <div class="col">
                    <label class="control-label">Manage Tags</label>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="row mb-4">
                            <div class="col">
                                <input type="text" class="form-control" id="TagEntry" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <button type="button" onclick="AddTag()" class="form-control btn btn-dark btn-sm" name="Add">Add</button>
                            </div>
                            <div class="col-6">
                                <button type="button" onclick="RemoveTag()" class="form-control btn btn-dark btn-sm" name="Remove">Remove</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <select class="form-control" width="100%" multiple name="TagValues" id="TagList"></select>
                    </div>
                </div>
            </div>

            <div class="form-group col-6">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" name="NewImage" class="form-control" accept=".jpg,.png,.gif,.jpeg" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label class="control-label">Current Image</label>
                <img src="@imageService.DecodeImage(Model.ImageData!,Model.ContentType!)" class="square-img rounded-start" height="200" alt="...">
                <span asp-validation-for="ImageData" class="text-danger"></span>
            </div>

            <div class="form-group col-6">
                <label asp-for="ReadyStatus" class="control-label"></label>
                <select asp-for="ReadyStatus" asp-items="Html.GetEnumSelectList<ReadyStatus>()" class="form-control"></select>
                <span asp-validation-for="ReadyStatus" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        let tagValues = '@ViewData["TagValues"]';

        $('#summernote').summernote({
            placeholder: 'Place your content here.',
            tabsize: 2,
            height: 120,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ]
        });
    </script>

    <script src="~/js/custom.js"></script>
}
